export FORGE_BASE_URL=$(op read "op://3dl-ops/k3obzgoblcadjckvhm2vuylmfq/FORGE_BASE_URL")
export FORGE_SERVICE_KEY=$(op read "op://3dl-ops/k3obzgoblcadjckvhm2vuylmfq/FORGE_SERVICE_KEY")
export FORGE_ACCOUNT_ID=$(op read "op://3dl-ops/k3obzgoblcadjckvhm2vuylmfq/FORGE_ACCOUNT_ID")
